// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;700&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

ul {
    list-style: circle;
    li {
        margin-bottom: $spacer/2;
    }
}

.link-alt {
    color: $gray-900;
    text-decoration: none;
}

.text-xs, .text-12 {
    font-size: $font-size-xs;
}

.text-sm, text-14 {
    font-size: $font-size-sm;
}

.text-18 {
    font-size: 1.25rem;
}

.text-24{
    font-size: 1.5rem;
}


